$header-size: 32px;
$footer-size: 40px;

$file-folder: './../assets/';
$backgroundimg: '#{$file-folder}background.png';
$coverimg: '#{$file-folder}BookBackground.png';
$pagesimg: '#{$file-folder}UI_BookProps1.png';
$closeimg: '#{$file-folder}x.png';
$tab1img: '#{$file-folder}tab1.png';
$tab2img: '#{$file-folder}tab2.png';
$tab3img: '#{$file-folder}tab3.png';
$cursorimg: '#{$file-folder}Cursor.png';

%header-footer {
    display: flex;
    flex-flow: row;

    .text-bar {

        flex: 1;
        padding: 5px;

        span {
            text-shadow: 2px 2px #000000;

            a {
                color: rgb(200, 130, 232);
                text-decoration: none;

                &:visited,
                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }
    }

    ul {
        padding: 0;
        margin: 0;
        overflow: hidden;
        list-style-type: none;

        li {
            float: left;

            button {
                display: block;
                height: 95%;
                width: $header-size;
                padding: 20%;
                border: none;
                background: transparent;
                outline: none;

                img {
                    width: 90%;
                    padding: 5%;
                }

                &.close:hover {
                    background: rgba(255, 0, 0, 0.7);
                }

                &:focus {
                    border: 1px solid rgba(255, 255, 255, 0.3);
                }

                &:hover {
                    background: rgba(0, 0, 0, 0.3);
                    border: none;
                }
            }
        }
    }
}

.app-body {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-flow: column;

    background-color: #1c2126;
    background-image: url(#{$backgroundimg});
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    cursor: url(#{$cursorimg}), auto !important;

    .app-header {
        @extend %header-footer;
        height: $header-size;

        .text-bar {
            -webkit-app-region: drag;
        }
    }

    .app-content {
        
        flex: 1;

        overflow: auto;
        padding: 0;
        margin: 0;
        background-image: url(#{$coverimg});
        background-repeat: no-repeat;
        background-size: 98% 100%;

        .book {
            display: flex;
            flex-flow: column;
            width: 100%;
            height: 100%;
            overflow: hidden;
        
            .book-top {
                height: 1%;
            }
        
            .book-bottom {
                height: 9%;
            }
        
            .book-pages {
                flex: 1;
                
                display: flex;
                flex-flow: row;
        
        
                .edge {
                    width: 7%;
                    height: 100%;

                    .tabs {
                        list-style-type: none;
                        height: 100%;
                        width: 80%;
                        padding: 3%;
                        margin: 0;

                        li {
                            height: 15%;
                            width: 100%;
                            max-width: 60px;
                            padding: 0;
                            margin: 0;

                            &:nth-child(3n){
                                background-image: url(#{$tab1img});
                            }

                            &:nth-child(3n + 1){
                                background-image: url(#{$tab2img});
                            }

                            &:nth-child(3n + 2){
                                background-image: url(#{$tab3img});
                            }

                            background-repeat: no-repeat;
                            background-size: 100% 100%;

                            a {
                                display: inline-block;
                                position: relative;
                                width: 100%;
                                height: 100%;

                                span {
                                    position: absolute;
                                    top: 50%;
                                    left: 30%;
                                    margin-left: 5px;

                                    text-decoration: none;
                                    text-transform: uppercase;
                                    text-shadow: 2px 2px #000000;
                                    color: #ffffff;
                                    transform: translateX(-50%) translateY(-50%) rotate(90deg);
                                }

                                &.active {
                                    span {
                                        border-bottom: 1px solid #ffffff;
                                    }
                                }
                            }
                        }
                    }
                }
        
                .page {
                    width: 38%;
                    max-width: 38%;
                    height: 100%;
        
                    margin: 0;
                    overflow-y: auto;
                    overflow-x: hidden;
                }
        
                .spine {
                    flex: 1;
                }
            }
        }

    }

    .app-footer {
        @extend %header-footer;
        height: $footer-size;

        ul {
            li {
                button {
                    width: $footer-size;
                }
            }
        }
    }
}